 * {
    background-color: #d2fdfe;
    background-size: cover;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Handjet', cursive;
}

/* INDEX PAGE */

.cabecalho{
    border: 5px solid #49708a;
    background-color: #752e2b;
    color:black;
    font-size:25px;    
    text-align: center;
}
.titulo {
    margin-left: 2vw;
    color: black;
    width: 60%;
}
.imagemtitulo {
    width: 45vw;
}



.login {
    margin-left: 50vw;
    color: black;
}

/* DIV BLOCOS DO SITE*/
.centralizar {
    width:100%;
    height:100%;
    margin:auto;
}

.navbar {
    list-style: none;
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* LISTA DE INTERAÇÃO DA NAVBAR */

.bt {
    color:black;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    transition: all 2s;
    text-decoration: none;
}


.navegacao{
    color:#black;
}

.bloco1 {
    width: 60%;
    height: 140px;
    border: 5px solid black;
}

.imagembloco1 {
    width: 100%;
    height: 140px;
}

.bloco2 {
    width: 60%;
    height: 140px;
    border: 5px solid black;
}

.imagembloco2 {
    width: 100%;
    height: 140px;
}

.bloco3 {
    width: 60%;
    height: 140px;
    border: 5px solid black;
}

.imagembloco3 {
    width: 100%;
    height: 140px;
}

.destaques {
    padding: 10px;
    border:5px solid black;
    display: inline-block;
    float: right;
    position: relative;
    bottom: 450px;
    width: 38%;
    height: 420px;
} 

.video {`
    position: fixed;
    max-width: 100%;
    max-heigth: 100%;
}
.partefinal {
    border: 5px solid black;
    height: 350px;
    padding: 10px;
    color: black;
}
footer {
    border: 5px solid black;
    text-align: center;
    color: black;

}

/* NEWS PAGE */

.news {
    border: 1px solid black;
    width: 100vw;
    height: 450px;
}

/* ABOUT US PAGE */

.sobrenos {
    border: 1px solid black;
    width: 100vw;
    height: 450px;
}

/* REGISTER PAGE */

.formulario {
    border: 2px solid black;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}

.icones {
    width: 35px;
    height: 25px;
    align-items: center;    
}